.topic-institucional
	h2
		color: $lightbrown
		margin:0 0 20px
		
	i
		color: $lightbrown
		font-size: 45px
		padding: 15px
		

.link-espaco
	text-align: center
	color: $lightbrown
	margin-bottom: 30px

.slider-espaco
	.slick-list
		height: 100%

		@media $mobile-max
			height: 200px
			margin: 20px 20px
		

		